@model Assignment2_TripLogApp.Models.TripLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TripLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accommodation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accommodation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccommodationEmailAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccommodationEmailAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDo1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDo2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDo3)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TripId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
