@using Microsoft.IdentityModel.Tokens
@model IEnumerable<Assignment2_TripLogApp.Models.TripLog>

@{
    ViewData["Title"] = "My Trip Log";
}

@{
    if (TempData["Destination"]?.ToString().Length > 0)
    {
        <h2>Trip to @TempData["Destination"] added</h2>
    }
    TempData.Clear();
}
<p>
    <a asp-action="BasicInfo">Add Trip</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accommodation)
            </th>
            <th>
                Things to do
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @DateOnly.FromDateTime(item.StartDate)
            </td>
            <td>
                @DateOnly.FromDateTime(item.EndDate)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Accommodation))
                {
                    <div>
                        @Html.DisplayFor(modelItem => item.Accommodation)
                        <br />
                        @if (!string.IsNullOrEmpty(item.AccommodationPhoneNumber))
                        {
                            <div>Phone: @Html.DisplayFor(modelItem => item.AccommodationPhoneNumber)</div>
                        }
                        @if (!string.IsNullOrEmpty(item.AccommodationEmailAddress))
                        {
                            <div>Email: @Html.DisplayFor(modelItem => item.AccommodationEmailAddress)</div>
                        }
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDo1)
                <br/>
                @Html.DisplayFor(modelItem => item.ToDo2)
                <br/>
                @Html.DisplayFor(modelItem => item.ToDo3)
            </td>
        </tr>
}
    </tbody>
</table>
