@model IEnumerable<Assignment2_TripLogApp.Models.TripLog>

@{
    ViewData["Title"] = "My Trip Log";
}

<p>
    <a asp-action="BasicInfo">Add Trip</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accommodation)
            </th>
            <th>
                Things to do
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accommodation)
                <br./>
                Phone: @Html.DisplayFor(modelItem => item.AccommodationPhoneNumber)
                <br/>
                Email: @Html.DisplayFor(modelItem => item.AccommodationEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDo1)
                <br/>
                @Html.DisplayFor(modelItem => item.ToDo2)
                <br/>
                @Html.DisplayFor(modelItem => item.ToDo3)
            </td>
        </tr>
}
    </tbody>
</table>
